<div class='modal fade' bsModal #modal='bs-modal' tabindex='-1' role='dialog' aria-labelledby='Changer user password dialog' (onShown)='onModalShown()' (onHide)='onModalHide()'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>

      <!-- Header -->
      <div class='modal-header'>
        <h4 class='modal-title'>Changer le mot de passe</h4>
      </div>

      <!-- Login form -->
      <form [formGroup]='changePasswordForm' (ngSubmit)='changePassword()' novalidate>

        <div class='modal-body'>

        <div class='row'>
          <div class='col-xs-12 col-md-6'>
            <div class='form-group' [formGroupError]='changePasswordForm.get("password")'>
              <label for='user-password' class='control-label'>Nouveau mot de passe</label>
              <input #password type='password' id='user-password' class='form-control' formControlName='password' autofocus />
              <bio-form-error [control]='changePasswordForm.get("password")' error='required'>Le nouveau mot de passe est obligatoire.</bio-form-error>
            </div>
          </div>

          <div class='col-xs-12 col-md-6'>
            <div class='form-group' [formGroupError]='changePasswordForm.get("passwordConfirmation")'>
              <label for='user-password-confirmation' class='control-label'>Confirmation du nouveau mot de passe</label>
              <input type='password' id='user-password-confirmation' class='form-control' formControlName='passwordConfirmation' />
              <bio-form-error [control]='changePasswordForm.get("passwordConfirmation")' error='required'>Veuillez réécrire le nouveau mot de passe.</bio-form-error>
              <bio-form-error [control]='changePasswordForm' error='passwordConfirmation'>Veuillez écrire le même mot de passe.</bio-form-error>
            </div>
          </div>
        </div>

        </div>

        <!-- Footer -->
        <div class='modal-footer'>
          <div class='btn-group'>
            <button type='button' class='btn btn-default' (click)='modal.hide()'>Annuler</button>
            <button type='submit' class='btn btn-primary' [disabled]='changePasswordForm.invalid'>Changer le mot de passe</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
