<div class='modal fade' bsModal #modal='bs-modal' tabindex='-1' role='dialog' aria-labelledby='Changer user password dialog' (onShow)='onModalShow()' (onShown)='onModalShown()' (onHide)='onModalHide()'>
  <div class='modal-dialog'>
    <div class='modal-content'>

      <!-- Header -->
      <div class='modal-header'>
        <h4 class='modal-title'>
          Lien de changement de mot de passe
        </h4>
      </div>

      <div class='modal-body'>
        <p class='empty' *ngIf='!passwordResetRequest'>Génération du lien en cours...</p>

        <ng-container *ngIf='user && passwordResetRequest'>
          <form>
            <p class='lead'>
              Envoyez ce lien à l'utilisateur pour lui permettre de changer de mot de passe.
              Vous pouvez également changer le mot de passe directement en
              <a class='btn btn-warning btn-sm' routerLink='/users/{{ user.id }}/edit'>
                <span class='glyphicon glyphicon-pencil'></span>
                modifiant
              </a>
              l'utilisateur.
            </p>

            <div class='form-group'>
              <label for='password-reset-link' class='sr-only'>Lien de changement de mot de passe</label>
              <div class='input-group'>
                <input id='password-reset-link' type='text' class='form-control' readonly value='{{ passwordResetRequest.link }}' />
                <span class='input-group-btn'>
                  <button type='button' class='btn btn-primary' tooltip='Copier' ngxClipboard [cbContent]='passwordResetRequest.link'>
                    <span class='glyphicon glyphicon-copy'></span>
                  </button>
                </span>
              </div>
            </div>
          </form>

          <dl class='dl-horizontal'>
            <dt>Utilisateur</dt>
            <dd>{{ user.fullName }}</dd>
            <dt>E-mail</dt>
            <dd>
              {{ user.email }}
              <button type='button' class='btn btn-default btn-xs' tooltip='Copier' ngxClipboard [cbContent]='user.email'>
                <span class='glyphicon glyphicon-copy'></span>
              </button>
            </dd>
          </dl>
        </ng-container>
      </div>

      <div class='modal-footer'>
        <div class='btn-group'>
          <button type='button' class='btn btn-default' (click)='modal.hide()'>Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
