.activity
  h3.panel-title
    .utc
      font-weight normal
    .utc-tooltip
      margin-left 0.4em
  .chart-container
    position relative
    width 100%
    height 40vh
  .chart-loading
    position absolute
    width 100%
    height 100%
    background-color #000000
    color #ffffff
    opacity 0.3
    font-size 2em
    line-height 40vh
    text-align center
  .chart-blank
    position absolute
    margin-top 5em
    margin-left 15%
    width 70%
    height 10vh
    background-color #000000
    color #ffffff
    opacity 0.3
    line-height 10vh
    text-align center

.database-stats
  h3.panel-title
    .total-size
      font-weight normal
    .total-size-tooltip
      margin-left 0.4em
