<div class='modal fade' bsModal #modal='bs-modal' tabindex='-1' role='dialog' aria-labelledby='Invitation dialog' (onShown)='onModalShown()' (onHidden)='onModalHidden()'>
  <div class='modal-dialog'>
    <div class='modal-content'>

      <!-- Header -->
      <div class='modal-header'>
        <h4 class='modal-title'>Inviter un nouvel utilisateur</h4>
      </div>

      <!-- Login form -->
      <form *ngIf='invitationForm' [hidden]='invitation' [formGroup]='invitationForm' (ngSubmit)='invite(true)' novalidate>

        <div class='modal-body'>

          <!-- E-mail field -->
          <div class='form-group' [formGroupError]='invitationForm.get("email")'>
            <label for='user-email' class='control-label'>Adresse e-mail</label>
            <input #email type='email' id='user-email' class='form-control' formControlName='email' />
            <bio-form-error [control]='invitationForm.get("email")' error='required'>L'e-mail est obligatoire.</bio-form-error>
            <bio-form-error [control]='invitationForm.get("email")' error='emailAvailable'>Un compte utilisateur existe déjà avec cet e-mail.</bio-form-error>
          </div>

          <!-- First name field (optional) -->
          <div class='form-group' [formGroupError]='invitationForm.get("firstName")'>
            <label for='user-first-name' class='control-label'>Prénom</label>
            <input type='text' id='user-first-name' class='form-control' formControlName='firstName' placeholder="Prénom par défaut" />
            <span class='help-block'>L'utilisateur se verra proposer ce prénom par défaut dans le formulaire d'enregistrement mais pourra le changer.</span>
            <bio-form-error [control]='invitationForm.get("firstName")' error='maxlength'>Le prénom ne doit pas dépasser 20 caractères.</bio-form-error>
          </div>

          <!-- First name field (optional) -->
          <div class='form-group' [formGroupError]='invitationForm.get("lastName")'>
            <label for='user-last-name' class='control-label'>Nom</label>
            <input type='text' id='user-last-name' class='form-control' formControlName='lastName' placeholder="Nom par défaut" />
            <span class='help-block'>L'utilisateur se verra proposer ce nom par défaut dans le formulaire d'enregistrement mais pourra le changer.</span>
            <bio-form-error [control]='invitationForm.get("lastName")' error='maxlength'>Le nom ne doit pas dépasser 20 caractères.</bio-form-error>
          </div>

          <!-- Role dropdown box -->
          <div class='form-group'>
            <label for='user-role' class='control-label'>Rôle</label>
            <ng-select id='user-role' [allowClear]='false' [options]='userRoleChoices' formControlName='role'></ng-select>
          </div>

        </div>

        <!-- Footer -->
        <div class='modal-footer'>
          <div class='btn-group'>
            <button type='button' class='btn btn-default' (click)='modal.hide()'>Annuler</button>
            <button type='button' class='btn btn-info' [disabled]='invitationForm.invalid' (click)='invite(false)' tooltip="Générer uniquement le lien d'invitation pour l'envoyer vous-même">Générer un lien</button>
            <button type='submit' class='btn btn-primary' [disabled]='invitationForm.invalid' tooltip="Envoyer un e-mail d'invitation standard">Envoyer l'e-mail</button>
          </div>
        </div>

      </form>

      <ng-container *ngIf='invitation'>
        <div class='modal-body'>
          <form>
            <p class='lead'>
              Envoyez ce lien à quelqu'un pour qu'il ou elle puisse créer un nouveau compte utilisateur avec l'e-mail indiqué.
            </p>

            <div class='form-group'>
              <label for='invitation-link' class='sr-only'>Lien d'invitation</label>
              <div class='input-group'>
                <input id='invitation-link' type='text' class='form-control' readonly value='{{ invitation.link }}' />
                <span class='input-group-btn'>
                  <button type='button' class='btn btn-primary' tooltip='Copier' ngxClipboard [cbContent]='invitation.link'>
                    <span class='glyphicon glyphicon-copy'></span>
                  </button>
                </span>
              </div>
            </div>
          </form>

          <dl class='dl-horizontal'>
            <dt>Utilisateur</dt>
            <dd>{{ invitation.firstName }} {{ invitation.lastName }}</dd>
            <dt>E-mail</dt>
            <dd>
              {{ invitation.email }}
              <button type='button' class='btn btn-default btn-xs' tooltip='Copier' ngxClipboard [cbContent]='invitation.email'>
                <span class='glyphicon glyphicon-copy'></span>
              </button>
            </dd>
            <dt>Valide jusqu'au</dt>
            <dd>{{ invitation.expiresAt | amDateFormat: 'LLL' }}</dd>
          </dl>
        </div>

        <div class='modal-footer'>
          <div class='btn-group'>
            <button type='button' class='btn btn-default' (click)='modal.hide()'>Fermer</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
