<div class='modal fade' bsModal #modal='bs-modal' tabindex='-1' role='dialog' aria-labelledby='Invitation dialog' (onShown)='onModalShown()'>
  <div class='modal-dialog'>
    <div class='modal-content'>

      <!-- Header -->
      <div class='modal-header'>
        <h4 class='modal-title'>Inviter un nouvel utilisateur</h4>
      </div>

      <!-- Login form -->
      <form [formGroup]='invitationForm' (ngSubmit)='invite($event)' novalidate>

        <div class='modal-body'>

          <!-- E-mail field -->
          <div class='form-group'>
            <label for='user-email' class='control-label' #email>Adresse e-mail</label>
            <input type='email' id='user-email' class='form-control' formControlName='email' />
          </div>

          <!-- First name field (optional) -->
          <div class='form-group'>
            <label for='user-first-name' class='control-label'>Prénom</label>
            <input type='text' id='user-first-name' class='form-control' formControlName='firstName' />
          </div>

          <!-- First name field (optional) -->
          <div class='form-group'>
            <label for='user-last-name' class='control-label'>Nom</label>
            <input type='text' id='user-last-name' class='form-control' formControlName='lastName' />
          </div>

          <!-- Role dropdown box -->
          <div class='form-group'>
            <label for='user-role' class='control-label'>Rôle</label>
            <ng-select
              id='user-role'
              [allowClear]='false'
              [options]='userRoleChoices'
              formControlName='role'>
            </ng-select>
          </div>

        </div>

        <!-- Footer -->
        <div class='modal-footer'>
          <div class='btn-group'>
            <button type='button' class='btn btn-default' (click)='modal.hide()'>Annuler</button>
            <button type='submit' class='btn btn-primary' [disabled]='invitationForm.invalid'>Inviter</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
