<bio-login-modal></bio-login-modal>
<div class='nav navbar navbar-default navbar-fixed-top'>
  <div class='container'>

    <!-- Brand & toggle button -->
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a href='#' class='navbar-brand'>BioSentiers</a>
    </div>

    <!-- Login/logout buttons -->
    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li *ngIf='user'>
          <a href='#'>
            <span class='glyphicon glyphicon-user'></span>
            {{ user.email }}
          </a>
        </li>
        <li *ngIf='!user'>
          <a href='#' (click)='openLoginModal()'>
            <span class='glyphicon glyphicon-log-in'></span>
            Connexion
          </a>
        </li>
        <li *ngIf='user'>
          <a href='#' (click)='logOut()'>
            <span class='glyphicon glyphicon-log-out'></span>
            Déconnexion
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
