<bio-login-modal></bio-login-modal>
<div class='nav navbar navbar-default navbar-fixed-top'>
  <div class='container'>

    <!-- Brand & toggle button -->
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a routerLink='/' class='navbar-brand'>BioSentiers</a>
    </div>

    <div class='collapse navbar-collapse'>

      <ul class='nav navbar-nav' *ngIf='user'>
        <li>
          <a routerLink='/excursions'>Sorties</a>
        </li>
      </ul>

      <!-- Admin menu -->
      <ul class='nav navbar-nav' *ngIf='user && user.hasRole("admin")'>
        <li dropdown>
          <a id='admin-menu-toggle' role='button' aria-haspopup='true' aria-expanded='false' dropdownToggle>
            Admin
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu' role='menu' aria-labelledby='admin-menu-toggle' *dropdownMenu>
            <li>
              <a routerLink='/users'>Users</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Login/logout buttons & profile -->
      <ul class='nav navbar-nav navbar-right'>
        <li *ngIf='user'>
          <a href='#'>
            <span class='glyphicon glyphicon-user'></span>
            {{ user.email }}
          </a>
        </li>
        <li *ngIf='!user'>
          <a (click)='openLoginModal($event)'>
            <span class='glyphicon glyphicon-log-in'></span>
            Connexion
          </a>
        </li>
        <li *ngIf='user'>
          <a (click)='logOut($event)'>
            <span class='glyphicon glyphicon-log-out'></span>
            Déconnexion
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
