<div class='container'>
  <div class='page-header'>
    <h1>Nouveau compte</h1>
  </div>

  <div class='col-lg-4 col-md-6 col-sm-8 col-xs-12' *ngIf='registrationForm && !auth.user'>
    <form novalidate [formGroup]='registrationForm' (ngSubmit)='invite($event)'>

      <div class='form-group'>
        <label for='user-email' class='control-label'>Adresse e-mail</label>
        <input type='text' id='user-email' class='form-control' formControlName='email' />
      </div>

      <div class='form-group' [formGroupError]='registrationForm.get("password")'>
        <label for='user-password' class='control-label'>Mot de passe</label>
        <input type='text' id='user-password' class='form-control' formControlName='password' />
        <bio-form-error [control]='registrationForm.get("password")' error='required'>Le mot de passe est obligatoire.</bio-form-error>
      </div>

      <div class='form-group' [formGroupError]='registrationForm.get("firstName")'>
        <label for='user-first-name' class='control-label'>Prénom</label>
        <input type='text' id='user-first-name' class='form-control' formControlName='firstName' />
        <bio-form-error [control]='registrationForm.get("firstName")' error='required'>Le prénom est obligatoire.</bio-form-error>
        <bio-form-error [control]='registrationForm.get("firstName")' error='maxlength'>Le prénom ne doit pas dépasser 20 caractères.</bio-form-error>
      </div>

      <div class='form-group' [formGroupError]='registrationForm.get("lastName")'>
        <label for='user-last-name' class='control-label'>Nom</label>
        <input type='text' id='user-last-name' class='form-control' formControlName='lastName' />
        <bio-form-error [control]='registrationForm.get("lastName")' error='required'>Le nom est obligatoire.</bio-form-error>
        <bio-form-error [control]='registrationForm.get("lastName")' error='maxlength'>Le nom ne doit pas dépasser 20 caractères.</bio-form-error>
      </div>

      <button type='submit' class='btn btn-primary btn-lg' [disabled]='registrationForm.invalid'>Créer mon compte</button>

    </form>
  </div>

  <!-- Error: user is already logged in -->
  <p class='alert alert-danger' *ngIf='auth.user'>
    Déconnectez-vous pour créer un nouveau compte.
  </p>

  <!-- Error: invitation link is invalid or has expired -->
  <p class='alert alert-danger' *ngIf='invitationInvalid && !auth.user'>
    Le lien d'invitation que vous avez suivi a expiré ou n'est pas valide.
  </p>
</div>
