<p class='lead'>
  Ajoutez autant de participants que vous avez de téléphones ou de tablettes avec l'application BioSentiers.
  Vous pourrez imprimer un code QR pour chacun d'entre eux et scanner ce dernier dans l'application.
</p>

<form novalidate *ngIf='excursion' [formGroup]='excursionParticipantsForm'>
  <div class='participants-controls clearfix'>
    <label for='excursion-participants-increment'>Ajouter des participants</label>
    <div class='input-group'>
      <span class='input-group-btn'>
        <button type='button' class='btn btn-success' (click)='addParticipantBatch()'>
          <span class='glyphicon glyphicon-plus'></span>
        </button>
      </span>
      <input type='number' class='form-control new-participant' id='excursion-participants-increment' name='participantsIncrement' min='1'
             formControlName='participantsIncrement' />
    </div>
  </div>

  <p *ngIf='!participants.length'><em class='text-muted'>Personne ne participe à cette sortie pour le moment</em></p>

  <div *ngIf='participants.length' class='clearfix'>
    <div class='col-xs-12 col-sm-6 col-md-4' *ngFor='let participant of participants; let i = index'>
      <bio-participant-form
        [id]='"participant-" + i'
        [participant]='participant'
        [excursion]='excursion'
        (onCreated)='onParticipantCreated($event)'
        (onRemoved)='onParticipantRemoved($event)'>
      </bio-participant-form>
    </div>
  </div>
</form>
