<div class='container'>

  <div class='page-header' *ngIf='excursion'>
    <div class="btn-group pull-right">
      <a class='btn btn-default btn-lg'
         *ngIf='excursion.id' routerLink='/excursions/{{ excursion.id }}'>
        <span class='glyphicon glyphicon-arrow-left'></span>
      </a>
    </div>

    <h1>Impression de la sortie du {{ excursion.plannedAt | date: 'dd.MM.yyyy' }} avec {{ excursion.creator.fullName }}</h1>
  </div>

  <ul>
    <li *ngFor='let participant of participants'>
      {{ participant.name }}
      <br />
      <bio-excursion-qrcode [excursion]='excursion' [participant]='participant'></bio-excursion-qrcode>
    </li>
  </ul>

</div>
