<div class='container'>

  <div class='page-header' *ngIf='excursion'>
    <div class="btn-group pull-right">
      <a class='btn btn-default btn-lg'
         *ngIf='excursion.id' routerLink='/excursions/{{ excursion.id }}/edit'>
        <span class='glyphicon glyphicon-arrow-left'></span>
      </a>
    </div>

    <h1>Impression de la sortie du {{ excursion.plannedAt | date: 'dd.MM.yyyy' }} avec {{ excursion.creator.fullName }}</h1>
  </div>

  <p *ngIf='participants && !participants.length'><em class='text-muted'>Personne ne participe à cette sortie pour le moment</em></p>

  <div id='excursion-participants-qr-codes'>
    <div class='col-xs-6' *ngFor='let participant of participants'>
      <h2>{{ participant.name }}</h2>
      <bio-excursion-qrcode [excursion]='excursion' [participant]='participant'></bio-excursion-qrcode>
    </div>
  </div>

</div>
