<div class='container'>

  <div class='page-header' *ngIf='excursion'>
    <div class="btn-group pull-right">
      <a class='btn btn-default' tooltip='Liste des sorties' routerLink='/excursions'>
        <span class='glyphicon glyphicon-list'></span>
      </a>
      <a class='btn btn-info' *ngIf='excursion' routerLink='/excursions/{{ excursion.id }}'>
        <span class='glyphicon glyphicon-info-sign'></span>
        Détails
      </a>
      <a class='btn btn-warning' *ngIf='excursion' routerLink='/excursions/{{ excursion.id }}/edit'>
        <span class='glyphicon glyphicon-pencil'></span>
        Modifier
      </a>
    </div>

    <h1>Sortie du {{ excursion.plannedAt | amDateFormat: 'LL' }} avec {{ excursion.creator.fullName }}</h1>
  </div>

  <p *ngIf='participants && !participants.length'><em class='text-muted'>Personne ne participe à cette sortie pour le moment</em></p>

  <div id='excursion-participants-qr-codes'>
    <div class='col-xs-6' *ngFor='let participant of participants'>
      <h2>{{ participant.name }}</h2>
      <bio-excursion-qrcode [excursion]='excursion' [participant]='participant' [zones]='zones'></bio-excursion-qrcode>
    </div>
  </div>

</div>
