h1
  .installation-id
    font-variant normal

.panel.properties
  table
    th, td
      &:first-child
        padding-left 15px
      &:last-child
        padding-right 15px

#installations-table-search
  width 20em

table
  td
    &:not(.actions)
      cursor pointer
