<div class='container'>
  <div class='page-header'>
    <div class='btn-group pull-right'>
      <a class='btn btn-default' tooltip='Liste des application installées' routerLink='/installations'>
        <span class='glyphicon glyphicon-list'></span>
      </a>
    </div>

    <h1>
      Installation
      <small class='installation-id' *ngIf='installation'><samp>{{ installation.id }}</samp></small>
    </h1>
  </div>

  <p class='empty' *ngIf='!installation && !tableManager'><em>Chargement...</em></p>

  <div class='row' *ngIf='installation'>
    <div class='col-xs-12 col-md-6'>
      <dl class='dl-horizontal'>
        <dt>Première utilisation</dt>
        <dd>{{ installation.firstStartedAt | amDateFormat: 'LLLL' }}</dd>
        <dt>Enregistrement</dt>
        <dd>{{ installation.createdAt | amDateFormat: 'LLLL' }}</dd>
        <dt>Dernière modification</dt>
        <dd>{{ installation.updatedAt | amDateFormat: 'LLLL' }}</dd>
        <dt>Nombre d'événements</dt>
        <dd>
          <ng-container *ngIf='installation.eventsCount'>{{ installation.eventsCount }}</ng-container>
          <em class='empty' *ngIf='!installation.eventsCount'>Aucun</em>
        </dd>
        <dt>Dernier événement</dt>
        <dd>
          <ng-container *ngIf='installation.lastEventAt'>{{ installation.lastEventAt | amDateFormat: 'LLLL' }}</ng-container>
          <em class='empty' *ngIf='!installation.lastEventAt'>-</em>
        </dd>
      </dl>
    </div>

    <div class='col-xs-12 col-md-6'>
      <div class='panel panel-default properties'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Propriétés</h3>
        </div>
        <table class='table'>
          <tbody>
            <tr class='empty' *ngIf='!installation.propertiesArray.length'>
              <td colspan=2>Aucune</td>
            </tr>
            <tr *ngFor='let item of installation.propertiesArray'>
              <th><code>{{ item.key }}</code></th>
              <td><samp>{{ item.value | json }}</samp></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <h2>
    Événements
    <small *ngIf='tableManager && tableManager.effectiveTotalObs | async'>{{ tableManager.effectiveTotalObs | async | number }} au total</small>
  </h2>

  <bio-table #table [manager]='tableManager' *ngIf='tableManager'>
    <bio-table-filters #filters [manager]='tableManager'>
    </bio-table-filters>

    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>
            <bio-table-sort [manager]='tableManager' property='type'>
              Type
            </bio-table-sort>
          </th>
          <th>
            Version
          </th>
          <th>
            <bio-table-sort [manager]='tableManager' property='occurredAt'>
              Date
            </bio-table-sort>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr [bio-table-message]='tableManager'>
          <em class='empty' message='initializing'>Chargement...</em>
          <em class='empty' message='no-match'>Aucun événement ne correspond aux critères de recherche</em>
          <em class='empty' message='empty'>Aucun événement n'est enregistré</em>
        </tr>
        <tr *ngFor='let event of tableManager.recordsObs | async'>
          <td class='type'>
            <samp>{{ event.type }}</samp>
          </td>
          <td class='version'>
            <samp>{{ event.version }}</samp>
          </td>
          <td class='occurredAt'>
            {{ event.occurredAt | amDateFormat: 'll' }}
            {{ event.occurredAt | amDateFormat: 'HH:mm:ss' }}
          </td>
        </tr>
      </tbody>
    </table>
  </bio-table>
</div>
