<div class='container'>
  <div class='page-header'>
    <div class="btn-group pull-right">
      <a class='btn btn-default' tooltip='Liste des sorties' routerLink='/excursions'>
        <span class='glyphicon glyphicon-list'></span>
      </a>
      <a class='btn btn-warning' *ngIf='excursion' routerLink='/excursions/{{ excursion.id }}/edit'>
        <span class='glyphicon glyphicon-pencil'></span>
        Modifier
      </a>
      <a class='btn btn-primary' *ngIf='excursion && excursion.isComplete()' routerLink='/excursions/{{ excursion.id }}/print'>
        <span class='glyphicon glyphicon-print'></span>
        Imprimer
      </a>
    </div>

    <h1 *ngIf='!excursion'><span class='empty'>Chargement...</span></h1>
    <h1 *ngIf='excursion'>Sortie du {{ excursion.plannedAt | amDateFormat: 'LL' }} avec {{ excursion.creator.fullName }}</h1>
  </div>

  <ng-container *ngIf='excursion'>
    <p class='lead' *ngIf='excursion.name'>{{ excursion.name }}</p>

    <dl class='dl-horizontal'>
      <dt>Sentier</dt>
      <dd>{{ excursion.trail.name }}</dd>
      <dt>Participants</dt>
      <dd>
        <ng-container *ngIf='excursion.participantsCount'>{{ excursion.participantsCount | number }}</ng-container>
        <em class='empty' *ngIf='!excursion.participantsCount'>Aucun</em>
      </dd>
      <dt>Prévue le</dt>
      <dd>{{ excursion.plannedAt | amDateFormat: 'LL' }}</dd>

      <dt class='themes'>Thèmes</dt>
      <dd class='themes'>
        <em class='empty' *ngIf='!themes'>Chargement...</em>
        <ng-container *ngIf='themes'>
          <bio-theme class='theme' *ngFor='let theme of themes' [theme]='theme' [trail]='excursion.trail' [zones]='zones' [countPois]='!!zones && !!zones.length'></bio-theme>
          <em class='empty' *ngIf='!themes.length'>Aucun</em>
        </ng-container>
      </dd>
    </dl>

    <bio-excursion-pois-map *ngIf='excursion' [excursion]='excursion' (onZonesLoaded)='onZonesLoaded($event)'></bio-excursion-pois-map>

    <ng-container *ngIf='participants'>
      <h2>Liste des participants</h2>
      <div class='row'>
        <div class='col-xs-12 col-sm-6 col-md-4' *ngFor='let participant of participants'>
          <div class='panel panel-default'>
            <div class='panel-body'>
              {{ participant.name }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf='excursion && zones && zones.length'>
      <h2>Liste des zones</h2>
      <bio-zone-list [zones]='zones' [trail]='excursion.trail'></bio-zone-list>
    </ng-container>
  </ng-container>
</div>
