<div class='container'>
  <div class='page-header'>
    <div class="btn-group pull-right">
      <a class='btn btn-default' tooltip='Liste des sorties' routerLink='/excursions'>
        <span class='glyphicon glyphicon-list'></span>
      </a>
      <a class='btn btn-warning' *ngIf='excursion' routerLink='/excursions/{{ excursion.id }}/edit'>
        <span class='glyphicon glyphicon-pencil'></span>
        Modifier
      </a>
      <a class='btn btn-primary' *ngIf='excursion && excursion.isComplete()' routerLink='/excursions/{{ excursion.id }}/print'>
        <span class='glyphicon glyphicon-print'></span>
        Imprimer
      </a>
    </div>

    <h1 *ngIf='!excursion'><span class='empty'>Chargement...</span></h1>
    <h1 *ngIf='excursion'>Sortie du {{ excursion.plannedAt | amDateFormat: 'LL' }} avec {{ excursion.creator.fullName }}</h1>
  </div>

  <ng-container *ngIf='excursion'>
    <dl class='dl-horizontal'>
      <dt>Sentier</dt>
      <dd>{{ excursion.trail.name }}</dd>
      <dt>Description</dt>
      <dd>
        <ng-container *ngIf='excursion.name'>{{ excursion.name }}</ng-container>
        <em class='empty' *ngIf='!excursion.name'>Aucune</em>
      </dd>
      <dt>Prévue le</dt>
      <dd>{{ excursion.plannedAt | amDateFormat: 'LL' }}</dd>
    </dl>

    <bio-excursion-pois-map *ngIf='excursion && themes && zones' [trail]='excursion.trail' [themes]='themes' [zones]='zones'></bio-excursion-pois-map>
  </ng-container>
</div>
