<div class='modal fade' bsModal #modal='bs-modal' tabindex='-1' role='dialog' aria-labelledby='Login modal dialog' (onShown)='onModalShown()'>
  <div class='modal-dialog'>
    <div class='modal-content'>

      <!-- Header -->
      <div class='modal-header'>
        <h4 class='modal-title'>Connexion</h4>
      </div>

      <!-- Login form -->
      <form [formGroup]='loginForm' (ngSubmit)='logIn($event)' novalidate>

        <div class='modal-body'>

          <!-- E-mail field -->
          <div class='form-group'>
            <label for='user-email' class='control-label' #email>Adresse e-mail</label>
            <input type='email' id='user-email' class='form-control' formControlName='email' required autofocus />
          </div>

          <!-- Password field -->
          <div class='form-group'>
            <label for='user-password' class='control-label'>Mot de passe</label>
            <input type='text' id='user-password' class='form-control' formControlName='password' required />
          </div>

        </div>

        <!-- Footer -->
        <div class='modal-footer'>
          <div class='btn-group'>
            <button type='button' class='btn btn-default' (click)='modal.hide()'>Annuler</button>
            <button type='submit' class='btn btn-primary' [disabled]='loginForm.invalid'>Connecter</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
