<div class='container'>

  <div class='page-header' *ngIf='excursion'>
    <div class="btn-group pull-right">
      <a class='btn btn-info btn-lg'
         *ngIf='excursion.id' routerLink='/excursions/{{ excursion.id }}/print'>
        Imprimer
      </a>
    </div>

    <h1 *ngIf='excursion.id'>Sortie du {{ excursion.plannedAt | date: 'dd.MM.yyyy' }} avec {{ excursion.creator.fullName }}</h1>
    <h1 *ngIf='!excursion.id'>Nouvelle sortie</h1>
  </div>

  <form novalidate *ngIf='excursion' [formGroup]='excursionForm' (ngSubmit)='saveExcursion($event)'>
    <div class='row'>
      <div class='col-md-6 col-xs-12'>
        <h2>Informations générales</h2>

        <div class='form-group'>
          <label for='excursion-trail-id'>Sentier</label>
          <ng-select id='excursion-trail-id' #trailIdSelect *ngIf='!excursion.id'
                     formControlName='trailId' [allowClear]='false' [options]='trailChoices'>
          </ng-select>
          <input type='text' class='form-control' id='excursion-trail-id' value='{{ excursion.trail.name }}'
                 *ngIf='excursion.id' [disabled]='true' />
        </div>

        <div class='form-group'>
          <label for='excursion-name' class='control-label'>Nom (facultatif)</label>
          <input type='text' id='excursion-name' class='form-control' formControlName='name' />
        </div>

        <div class='form-group'>
          <label for='excursion-planned-at'>Date</label>
          <div class='input-group'>
            <input class='form-control' style='float:none' placeholder='Select a date'
                   formControlName='plannedAt' ngx-mydatepicker [options]='datepickerOptions' #plannedAtDatepicker='ngx-mydatepicker'/>
            <span class='input-group-btn'>
              <button type='button' class='btn btn-default' (click)='plannedAtDatepicker.toggleCalendar();$event.stopPropagation()'>
                <span class='glyphicon glyphicon-calendar'></span>
              </button>
            </span>
          </div>
        </div>

        <button type='submit' class='btn btn-primary btn-lg'
                *ngIf='!excursion.id'>Créer la sortie</button>
      </div>

      <div class='col-md-6 col-xs-12'>
        <h2>Participants</h2>

        <div class='participants-controls clearfix' *ngIf='excursion.id'>
          <label for='excursion-participants-increment'>Ajouter des participants</label>
          <div class='input-group'>
            <span class='input-group-btn'>
              <button type='button' class='btn btn-success' (click)='addParticipantBatch()'>
                <span class='glyphicon glyphicon-plus'></span>
              </button>
            </span>
            <input type='number' class='form-control new-participant' id='excursion-participants-increment' name='participantsIncrement' min='1'
                   formControlName='participantsIncrement' />
          </div>
        </div>

        <p *ngIf='!excursionForm.controls.participants.controls.length'><em class='text-muted'>Personne ne participe à cette sortie pour le moment</em></p>
        <p *ngIf='!excursion.id'><em class='text-muted'>Veuillez créer la sortie pour gérer les participants</em></p>

        <ul class='list-unstyled' *ngIf='excursionForm.controls.participants.controls.length'>
          <li *ngFor='let participantForm of excursionForm.controls.participants.controls; let i = index'>
            <bio-participant-form
              [id]='"participant-" + i'
              [form]='participantForm'
              [excursion]='excursion'
              (onRemoved)='onParticipantRemoved($event)'>
            </bio-participant-form>
          </li>
        </ul>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <h2>Thèmes</h2>
        <div class='checkbox' *ngFor='let theme of themeChoices'>
          <label>
            <input type='checkbox' [checked]='selectedThemes[theme.id]' (change)='selectedThemes[theme.id] = !selectedThemes[theme.id]'> {{ theme.description }}
          </label>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <h2>Zones</h2>
        <div style='height:300px;'
          *ngIf='excursion'
          #map
          leaflet
          (leafletMapReady)='onMapReady($event)'
          [leafletOptions]='mapOptions'
          [leafletFitBounds]='mapBounds'
          [leafletFitBoundsOptions]='mapBoundsOptions'>
        </div>
      </div>
      <div class='col-xs-12' *ngIf='excursion'>
        <table class='table'>
          <thead>
            <tr>
              <th colspan='2'>Zone</th>
              <th>Description</th>
              <th>Désactiver</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let zone of zoneChoices' [ngClass]='{success: zone.properties.selected, danger: !zone.properties.selected}'>
              <td>{{ zone.properties.id_zone }}</td>
              <td>{{ zone.properties.keyword_zone }}</td>
              <td>{{ zone.properties.description_zone | truncate: 100 }}</td>
              <td>
                <button type='button' class='btn btn-success btn-xs' *ngIf='zone.properties.selected' (click)='toggleZone(zone)'>
                  <span class='glyphicon glyphicon-remove'></span>
                </button>
                <button type='button' class='btn btn-danger btn-xs' *ngIf='!zone.properties.selected' (click)='toggleZone(zone)'>
                  <span class='glyphicon glyphicon-ok'></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

</div>
