<div class='row'>
  <div class='col-xs-12'>
    <h2>Thèmes</h2>
    <ng-container *ngIf='themeChoices && selectedThemes'>
      <div class='checkbox' *ngFor='let theme of themeChoices'>
        <label>
          <input type='checkbox' [checked]='selectedThemes[theme.name]' (change)='toggleTheme(theme)'> {{ theme.description }}
        </label>
      </div>
    </ng-container>
  </div>
</div>

<div class='row' *ngIf='mapData'>
  <div class='col-xs-12'>
    <h2>Zones</h2>
    <div style='height:300px;'
      #map
      leaflet
      (leafletMapReady)='onMapReady($event)'
      [leafletOptions]='mapData.options'
      [leafletFitBounds]='mapData.bounds'
      [leafletFitBoundsOptions]='mapData.boundsOptions'>
    </div>
  </div>
  <div class='col-xs-12'>
    <table class='table'>
      <thead>
        <tr>
          <th colspan='2'>Zone</th>
          <th>Description</th>
          <th>Désactiver</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let zone of zones' [ngClass]='{success: selectedZones[zone.position], danger: !selectedZones[zone.position]}'>
          <td>{{ zone.position }}</td>
          <td>{{ zone.keyword }}</td>
          <td>{{ zone.description | truncate: 100 }}</td>
          <td>
            <button type='button' class='btn btn-success btn-xs' *ngIf='selectedZones[zone.position]' (click)='toggleZone(zone)'>
              <span class='glyphicon glyphicon-remove'></span>
            </button>
            <button type='button' class='btn btn-danger btn-xs' *ngIf='!selectedZones[zone.position]' (click)='toggleZone(zone)'>
              <span class='glyphicon glyphicon-ok'></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
