<div class='container'>

  <div class='page-header' *ngIf='excursion'>
    <div class='btn-group pull-right'>
      <!-- TODO: disable print button if excursion not fully configured -->
      <a class='btn btn-info'
         *ngIf='excursion.id' routerLink='/excursions/{{ excursion.id }}/print'>
        <span class='glyphicon glyphicon-print'></span>
        Imprimer
      </a>
    </div>

    <h1 *ngIf='excursion.id'>Sortie du {{ excursion.plannedAt | date: 'dd.MM.yyyy' }} avec {{ excursion.creator.fullName }}</h1>
    <h1 *ngIf='!excursion.id'>Nouvelle sortie</h1>
  </div>

  <bio-wizard #wizard *ngIf='wizardSteps' [steps]='wizardSteps'></bio-wizard>

  <router-outlet></router-outlet>

  <div class='wizard-controls' *ngIf='wizard'>
    <div class='btn-group'>
      <button type='button' class='btn btn-primary' [disabled]='!wizard.isPreviousStepEnabled()' (click)='wizard.goToPreviousStep()'>Précédent</button>
    </div>
    <div class='btn-group pull-right'>
      <button type='button' class='btn btn-primary' [disabled]='!wizard.isNextStepEnabled()' (click)='wizard.goToNextStep()'>Suivant</button>
    </div>
  </div>
</div>
