<div class='container'>

  <div class='page-header' *ngIf='excursion'>
    <div class='btn-group pull-right'>
      <a class='btn btn-info btn-lg'
         *ngIf='excursion.id' routerLink='/excursions/{{ excursion.id }}/print'>
        Imprimer
      </a>
    </div>

    <h1 *ngIf='excursion.id'>Sortie du {{ excursion.plannedAt | date: 'dd.MM.yyyy' }} avec {{ excursion.creator.fullName }}</h1>
    <h1 *ngIf='!excursion.id'>Nouvelle sortie</h1>
  </div>

  <nav *ngIf='excursion && excursion.id'>
    <ul class='pager'>
      <li class='previous' [ngClass]='{disabled: !isPreviousStepEnabled()}'><a (click)='previousStep()'><span aria-hidden='true'>&larr;</span> Précédent</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><a routerLink='/excursions/{{ excursion.id }}/edit'>Détails</a></li>
      <li routerLinkActive='active'><a routerLink='/excursions/{{ excursion.id }}/edit/participants'>Participants</a></li>
      <li routerLinkActive='active'><a routerLink='/excursions/{{ excursion.id }}/edit/pois'>Thèmes &amp; zones</a></li>
      <li class='next' [ngClass]='{disabled: !isNextStepEnabled()}'><a (click)='nextStep()'>Suivant <span aria-hidden='true'>&rarr;</span></a></li>
    </ul>
  </nav>

  <bio-edit-excursion-details *ngIf='excursion && !excursion.id'></bio-edit-excursion-details>
  <router-outlet></router-outlet>

</div>
