<p class='lead'>Sélectionnez les types de points qui seront affichés sur le sentier.</p>

<div class='themes clearfix' *ngIf='themeViews'>
  <div class='checkbox' *ngFor='let themeView of themeViews'>
    <label [ngClass]='{selected: themeView.selected}'>
      <input type='checkbox' [checked]='themeView.selected' (change)='toggleTheme(themeView)'>
      <bio-theme [theme]='themeView.theme' [trail]='excursion.trail' [zones]='zones' [countPois]='!!zones && !!zones.length'></bio-theme>
    </label>
  </div>
</div>

<bio-excursion-pois-map *ngIf='excursion' [excursion]='excursion' (onZonesLoaded)='onZonesLoaded($event)'></bio-excursion-pois-map>
