<form novalidate *ngIf='excursionForm' [formGroup]='excursionForm' (ngSubmit)='saveExcursion($event)'>
  <div class='row'>
    <div class='col-xs-offset-2 col-xs-8'>
      <div class='form-group'>
        <label for='excursion-trail-id'>Sentier</label>
        <ng-select id='excursion-trail-id' #trailIdSelect *ngIf='!excursionForm.controls.id.value'
                   formControlName='trailId' [allowClear]='false' [options]='trailChoices'>
        </ng-select>
        <input type='text' class='form-control' id='excursion-trail-id' value='{{ excursion.trail.name }}'
               *ngIf='excursionForm.controls.id.value' [disabled]='true' />
      </div>

      <div class='form-group'>
        <label for='excursion-name' class='control-label'>Nom (facultatif)</label>
        <input type='text' id='excursion-name' class='form-control' formControlName='name' />
      </div>

      <div class='form-group'>
        <label for='excursion-planned-at'>Date</label>
        <div class='input-group'>
          <input class='form-control' style='float:none' placeholder='Select a date'
                 formControlName='plannedAt' ngx-mydatepicker [options]='datepickerOptions' #plannedAtDatepicker='ngx-mydatepicker'/>
          <span class='input-group-btn'>
            <button type='button' class='btn btn-default' (click)='plannedAtDatepicker.toggleCalendar();$event.stopPropagation()'>
              <span class='glyphicon glyphicon-calendar'></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
