.themes
  margin-bottom 1em

  .checkbox
    display inline
    margin-right 1em

    label
      margin 0
      padding 0

      bio-theme
        opacity 0.5

      &.selected
        bio-theme
          opacity 1

    input
      display none
