<p class='lead'>Sélectionnez les types de points qui seront affichés sur le sentier.</p>

<div class='themes clearfix' *ngIf='map'>
  <div class='checkbox' *ngFor='let theme of themes'>
    <label [ngClass]='{selected: theme.selected}'>
      <input type='checkbox' [checked]='theme.selected' (change)='toggleTheme(theme)'>
      <img src='/assets/img/theme-icons/{{ theme.name }}.png' width=30 height=30 />
      {{ theme.description }} ({{ theme.poiCount }})
    </label>
  </div>
</div>

<div style='height:300px;'
  *ngIf='mapData'
  #map
  leaflet
  (leafletMapReady)='onMapReady($event)'
  [leafletOptions]='mapData.options'
  [leafletFitBounds]='mapData.bounds'
  [leafletFitBoundsOptions]='mapData.boundsOptions'>
</div>
