@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../node_modules/font-awesome/css/font-awesome.css'
@import '../node_modules/leaflet/dist/leaflet.css'
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/ng2-slim-loading-bar/style.css';

body
  padding 70px 0

a
  cursor pointer

// Make sure ng-select dropdown is not hidden by ngx-mydatepicker
select-dropdown > div
  z-index 3 !important

.page-header
  margin-top 0

  h1
    margin-top 0.4em
    margin-bottom 0.1em
    font-size 2em
    font-variant small-caps

  .btn-group
    padding-top 0

h2
  font-size 1.6em
  margin-top 2em
  margin-bottom 1em

.empty
  color #c0c0c0

.slim-loading-bar
  top 50px

@media print
  body
    padding 0
