@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../node_modules/leaflet/dist/leaflet.css'

body
  padding 70px 0

a
  cursor pointer

// Make sure angular2-select dropdown is not hidden by ngx-mydatepicker
select-dropdown > div
  z-index 3 !important
