<div class='container'>
  <div class='page-header'>
    <div class='btn btn-group pull-right'>
      <a class='btn btn-success' routerLink='/excursions/new' tooltip='Créer une nouvelle sortie'>
        <span class='glyphicon glyphicon-plus'></span>
        Nouvelle sortie
      </a>
    </div>
    <h1>
      Sorties
      <small *ngIf='tableManager.effectiveTotalObs | async'>{{ tableManager.effectiveTotalObs | async }} au total</small>
    </h1>
  </div>

  <em class='text-muted' *ngIf='excursions !== undefined && !excursions.length'>Aucune sortie n'a encore été faite</em>

  <bio-table #table [manager]='tableManager'>
    <bio-table-filters #filters [manager]='tableManager'>
      <form id='excursion-table-filters' class='form-inline' [formGroup]='filters.form'>
        <div class='form-group'>
          <label class='sr-only' for='excursions-table-search'>Recherche</label>
          <input *ngIf='auth.hasRole("admin")' type='text' class='form-control search' placeholder='Chercher par description ou nom/prénom du responsable' formControlName='search'>
          <input *ngIf='!auth.hasRole("admin")' type='text' class='form-control search' placeholder='Chercher par description' formControlName='search'>
        </div>
      </form>
    </bio-table-filters>

    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th *ngIf='auth.hasRole("admin")'>
            <bio-table-sort [manager]='tableManager' [properties]='["creatorLastName","creatorFirstName"]'>
              Responsable
            </bio-table-sort>
          </th>
          <th class='hidden-xs'>
            <bio-table-sort [manager]='tableManager' property='name'>
              Description
            </bio-table-sort>
          </th>
          <th class='participants-count hidden-xs'>
            <bio-table-sort [manager]='tableManager' property='participantsCount'>
              Participants
            </bio-table-sort>
          </th>
          <th>
            <bio-table-sort [manager]='tableManager' property='plannedAt'>
              Date
            </bio-table-sort>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class='empty' *ngIf='tableManager.initialized && !(tableManager.recordsObs | async).length'>
          <td *ngIf='auth.hasRole("admin")' colspan=5>
            <em *ngIf='tableManager.hasFilters()'>Aucune sortie ne correspond à vos critères de recherche</em>
            <em *ngIf='!tableManager.hasFilters()'>Aucune sortie n'a été créée</em>
          </td>
          <td *ngIf='!auth.hasRole("admin")' colspan=4>
            <em *ngIf='tableManager.hasFilters()'>Aucune sortie ne correspond à vos critères de recherche</em>
            <em *ngIf='!tableManager.hasFilters()'>Vous n'avez créé aucune sortie</em>
          </td>
        </tr>
        <tr *ngFor='let excursion of tableManager.recordsObs | async'>
          <td class='creator' routerLink='/excursions/{{ excursion.id }}/edit' *ngIf='auth.hasRole("admin")'>
            {{ excursion.creator.firstName }}
            <strong>{{ excursion.creator.lastName }}</strong>
          </td>
          <td class='name hidden-xs' routerLink='/excursions/{{ excursion.id }}/edit'>
            <span *ngIf='excursion.name'>{{ excursion.name }}</span>
            <em class='empty' *ngIf='!excursion.name'>Aucune</em>
          </td>
          <td class='participants-count hidden-xs' routerLink='/excursions/{{ excursion.id }}/edit/participants'>
            <span *ngIf='excursion.participantsCount'>{{ excursion.participantsCount | number }}</span>
            <em class='empty' *ngIf='!excursion.participantsCount'>Aucun</em>
          </td>
          <td class='date' routerLink='/excursions/{{ excursion.id }}/edit'>
            {{ excursion.plannedAt | amDateFormat: 'LL' }}
          </td>
          <td class='actions'>
            <div class='btn-group btn-group-xs'>
              <button type='button' class='btn btn-warning' routerLink='/excursions/{{ excursion.id }}/edit'>
                <span class='glyphicon glyphicon-edit'></span>
                <span class='hidden-xs hidden-sm'>Modifier</span>
              </button>
              <button type='button' class='btn btn-primary' routerLink='/excursions/{{ excursion.id }}/print'>
                <span class='glyphicon glyphicon-print'></span>
                <span class='hidden-xs hidden-sm'>Imprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </bio-table>
</div>
