<div class='container'>
  <div class='page-header'>
    <div class='btn btn-group btn-group-lg pull-right'>
      <a class='btn btn-success' routerLink='/excursions/new' tooltip='Créer une nouvelle sortie'>
        <span class='glyphicon glyphicon-plus'></span>
      </a>
    </div>
    <h1>
      Sorties
    </h1>
  </div>

  <em class='text-muted' *ngIf='excursions !== undefined && !excursions.length'>Aucune sortie n'a encore été faite</em>

  <ul>
    <li *ngFor='let excursion of excursions'>
      <a routerLink='/excursions/{{ excursion.id }}'>{{ excursion.plannedAt | date: 'dd.MM.yyyy HH:mm' }}</a>
    </li>
  </ul>
</div>
