@require '../../variables'

#excursion-table-filters
  .search
    width 30em

table
  th, td
    vertical-align middle
    &.participants-count
      text-align center
  tr:not(.empty)
    td
      &:not(.actions)
        cursor pointer

@media (max-width: $screen-sm-min)
  #excursion-table-filters
    .search
      width 100%

@media (min-width: $screen-md-min)
  table
    tbody
      td
        &.participants-count
          width 12em
        &.date
          width 11em
        &.actions
          width 18em
