<div class='container'>
  <div class='page-header'>
    <h1>Changement de mot de passe</h1>
  </div>

  <form *ngIf='passwordResetForm' [formGroup]='passwordResetForm' (ngSubmit)='resetPassword($event)' novalidate>

    <div class='row'>
      <div class='col-xs-12 col-md-6'>
        <div class='form-group'>
          <label for='user-email' class='control-label'>Adresse e-mail</label>
          <input type='text' id='user-email' class='form-control' value='{{ passwordResetRequest.email }}' [disabled]='true' />
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-md-6'>
        <div class='form-group' [formGroupError]='passwordResetForm.get("password")'>
          <label for='user-password' class='control-label'>Nouveau mot de passe</label>
          <input type='text' id='user-password' class='form-control' formControlName='password' />
          <bio-form-error [control]='passwordResetForm.get("password")' error='required'>Le nouveau mot de passe est obligatoire.</bio-form-error>
        </div>
      </div>

      <div class='col-xs-12 col-md-6'>
        <div class='form-group' [formGroupError]='passwordResetForm.get("passwordConfirmation")'>
          <label for='user-password' class='control-label'>Confirmation du nouveau mot de passe</label>
          <input type='text' id='user-password' class='form-control' formControlName='passwordConfirmation' />
          <bio-form-error [control]='passwordResetForm.get("passwordConfirmation")' error='required'>Veuillez réécrire le nouveau mot de passe.</bio-form-error>
          <bio-form-error [control]='passwordResetForm' error='passwordConfirmation'>Veuillez écrire le même mot de passe.</bio-form-error>
        </div>
      </div>
    </div>

    <button type='submit' class='btn btn-primary' [disabled]='passwordResetForm.invalid'>
      <span class='glyphicon glyphicon-floppy-disk'></span>
      Changer le mot de passe
    </button>
  </form>

  <p class='alert alert-danger' *ngIf='passwordResetRequestInvalid'>
    Le lien que vous avez suivi a expiré ou n'est pas valide.
  </p>
</div>
